.movies-list {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 17.5px 0 17.5px; */
}
.ant-row-middle {
    padding: 0 17.5px 0 17.5px;
}
.ant-card .ant-card-body,
.card-description {
    padding: 0;
}
@media screen and (max-width: 985px) {
    .ant-card .ant-card-body,
    .card-description {
        padding: 10px;
    }
}

.ant-card {
    height: 280px;
    box-sizing: border-box;
    border-radius: 0;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}
.card-poster-wrapper {
    width: 30%;
    height: 280px;
}
.card-poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
}
@media screen and (max-width: 985px) {
    .card-poster-wrapper {
        height: 128px;
    }
}
@media screen and (max-width: 780px) {
    .card-poster-wrapper {
        height: 90px;
        width: 70px;
    }
}
.card {
    display: flex;
    align-items: top;
}
.card-body {
    width: 70%;
    padding: 10px 10px 0 20px;
}
@media screen and (max-width: 985px) {
    .card-body {
        width: 100%;
        padding: 0;
        padding-left: 10px;
    }
}
.card-header {
    width: 100%;
    height: 65px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 780px) {
    .card-header {
        height: 35px;
    }
}
.card-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.card-rate {
    position: absolute;
    bottom: 15px;
}
@media screen and (max-width: 985px) {
    .card-rate {
        /* left: unset; */
        right: 15px;
    }
}
@media screen and (max-width: 380px) {
    .ant-rate .ant-rate-star:not(:last-child) {
        margin-inline-end: 2px;
    }
}
.card-ganre {
    margin-top: 10px;
    white-space: nowrap;
}
.card-description {
    margin-top: 10px;
    position: absolute;
    top: 50%;
    margin-right: 10px;
}
@media screen and (max-width: 985px) {
    .card-description {
        left: 0;
    }
}
@media screen and (max-width: 780px) {
    .card-description {
        top: 40%;
    }
}
@media screen and (max-width: 380px) {
    .card-description {
        top: 35%;
    }
}
.bad {
    border: 2px solid #e90000;
}
.normal {
    border: 2px solid #e97e00;
}
.good {
    border: 2px solid #e9d100;
}
.wonderful {
    border: 2px solid #66e900;
}
.errors {
    margin-top: 35px;
}
