.ant-tabs {
    width: 100%;
    padding-top: 15px;
}
.ant-tabs-top > .ant-tabs-nav::before {
    left: 45%;
    width: 10%;
}
.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
    width: 50px !important;
}
